*{
	box-sizing: border-box;
}
body{
	background-color: #f6f5f1;
}
#page{
	width: 1000px;
	margin: 0px auto;
}
nav#main-nav{
	background-color: yellow;
}
#body-page{
	background-color: #fff;
	min-height: 500px;
}

section#left-page{
	width: 750px;
	padding: 10px;
	 float: left;
	/* background-color: cyan;*/
}

aside{
	width: 250px;
	padding: 10px; 
	float: right;
	/*background-color: yellow;*/
}
.clr{ clear: both; }
footer#footer-page{
	min-height: 100px;
	background-color: #252525;
}

/* khoi */
.block{
	width: 100%;
	-webkit-box-shadow: 0 7px 5px 0 #D4D4D4;
	box-shadow: 0 7px 5px 0 #D4D4D4;
	margin-bottom: 20px;
}
.block header{
	border-top: 3px solid #08afe3;
	border-bottom: 1px solid #ccc;
}
.block header h3{
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
	font-family: Arial;
	font-weight: bold;
	color: #5d5d5d;
	font-size: 0.95em;
}
.block .content-block{
	padding: 10px;
}


